<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <title>Email-List</title>
</head>
<body>
    <div id="myapp">

        <!-- Prima di stampare in pagina creo le 10 email  -->
        <ul v-if="emails.length === 10">
            <!-- lista email -->
            <li v-for="email in emails">{{email}}</li>
        </ul>
    </div>
  
    

<script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>  
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>